<h1>New Applicant</h1>

<%= render 'form' %>
<br>
<p><h4>Your privacy is very important to us.  We will never provide your personal information to a third party without your permission.
Your contact information will only be used to contact you for business purposes only.</h4></p>